<div class="row">
    <div class="col-2" *ngFor="let photo of member.photos">
        <div class="text-img-overlay">
            <img [class.img-unapproved]="!photo.isApproved" src="{{photo.url}}" alt="{{photo.url}}" class="img-thumbnail p-1">
            <div *ngIf="!photo.isApproved" class="overlay">
               <p class="m-2">Unapproved</p>
            </div>
        </div>
       
        <div class="text-center mt-1">
            <button [disabled]="photo.isApproved"  *appHasRole='["Admin","Moderator"]' (click)="approvePhoto(photo)" class="btn btn-sm btn-success mr-1"><i class="fa fa-check" aria-hidden="true"></i></button>
            <button [disabled]="photo.isMain"  (click)="deletePhoto(photo)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
        </div>
    </div>
</div>

