.img.img-thumbnail{
    height: 100px;
    min-width: 100px !important;
}

.img-unapproved {
    filter: grayscale(100%);
}

.nv-file-over{
    border: dotted 3px red;

}

input[type=file]{
    color: transparent;
}

.text-img-overlay .overlay {
    position:absolute;
    bottom: 30px;
    font-weight: bold;
    font-size: 14px;
    color:brown;
  }